.about-padding {
  padding: 30px 30px 0 30px;
}

.accordion {
  background-color: #EEE;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.accordion:focus {
  outline: #212529;
}

.active, .accordion:hover {
  background-color: #5D8AA8;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  float: right;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

article {
  padding-top: 100px;
}

#bio {
  text-align: justify;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

    @keyframes bounce {
      0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
      }
      40% {
        transform: translateY(-30px);
      }
      60% {
        transform: translateY(-15px);
      }
    }

    @-webkit-keyframes slideIn {
      from {
        bottom: 300px; 
        opacity: 0;
      } 
      to {
        bottom: 0px;
        opacity: 1;
      }
    }

    @-webkit-keyframes fadeIn {
      from {
        opacity: 0;
      } 
      to {
        opacity: 1;
        }
    }

.btn {
  color: #FFFFFF;
  background-color: #212529; 
  margin: 16px 0;
}

.btn:focus {
  color: #FFFFFF;
  box-shadow: 5px 5px 5px #FFFFFF;
  border-color: #212529;
}

.btn:hover {
  color: #212529 !important;
  background-color: #FFFFFFE6 !important;
  border-color: lightsteelblue !important;
  box-shadow: 5px 5px 5px #212529;
}

.btn:hover > .project-link {
  text-decoration: none;
  color: #212529;
}

button {
  transition: transform .2s;
}

button:hover {
  box-shadow: 5px 5px 5px #212529;
  transform: scale(1.10);
}

.close {
  color: #aaa;
  text-align: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

code {
  display: block;
  white-space: pre-wrap;
}

.col-sm-5 {
  text-align: center;
  padding: 40px;
  margin: 0 auto;
  transition: transform .2s;
}

.content { 
  background-color: lightsteelblue;
}

.contact-button {
  display: block;
}

#contact-message {
  width: 50%; 
  margin: 0; 
  padding: 5% 0;
  align-self: center;
}

.clearfix {
  text-align: center;
  padding-bottom: 35px;
}

.contact-page {
  padding: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contact-post-title {
  margin-bottom: 50px;
}

#contact-section-1 {
  color: white;
  background-color: lightslategray;
}

#contact-section-2 {
  background-color: gainsboro;
}

#contact-section-3 {
  color: white;
  background-color: #212529;
  display: flex; 
  justify-content: space-between;
}

.copyright {
  color: #212529 !important;
  text-shadow: 2px 2px 2px #FFF;
  letter-spacing:1px; 
}

.down-arrow {
  text-align: center;
  margin: 60px 0;
  color: black;
}

.fa-arrow-down:hover {
  text-decoration: none;
  color: black;
}

.fa-bars:hover {
  background-color: lightsteelblue;
}

.fa-inverse:hover {
  color: black;
}

.fade-in {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

    @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    /* Firefox < 16 */
    @-moz-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    /* Safari, Chrome and Opera > 12.1 */
    @-webkit-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    /* Internet Explorer */
    @-ms-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    /* Opera < 12.1 */
    @-o-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

footer {
  background-image: linear-gradient(lightsteelblue, #FFF); 
}

.footer-social-media {
  color: black;
}

.footer-social-media:hover {
  color: white;
}

#gif-1 {
  display: block; 
  width: 100%; 
  margin: 0 auto
}

#gif-2 {
  width: 50%; 
  margin-left: 5%;
}

h4 {
  margin-bottom: 50px;
}

.h4-middle {
  margin: 50px 0;
}

h3 {
  text-shadow: 2px 2px 2px #FFFFFFE6;
  color: #212529;
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

img {
  margin: 20px 0;
  max-width: 100%
}

.img-fluid { 
  width: 85%;
  height: auto;
  display: block;
  margin: 50px auto; 
  border: 2px solid #212529;
}

.img-fluid-no-gap { 
  width: 85%;
  height: auto;
  display: block;
  margin: 0px auto; 
}

#mainNav {
  position: fixed;
  top: 0;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: lightsteelblue;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
  text-align: left;
  box-shadow: 2px 2px 15px #212529;
  font-family: Gill Sans, sans-serif;
  font-size: 24px;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 1s;
}

#modal-line {
  width: 100%;
}

.nav-link {
  padding: 10px 20px !important;
}

.navbar-toggler:focus, .navbar-toggler:hover {
  outline: #212529;
  background-color: lightsteelblue;
}

.navbar a {
  transition: transform .2s;
}

.navbar a:hover {
  transform: scale(1.10);
}

.normal-links {
  text-decoration: none !important;
  color: darkblue;
  font-weight: bold;
  font-style: italic;
}

.normal-links:hover {
  color: lightsteelblue;
  text-decoration: none;
}

ol {
  margin-top: 0;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black !important;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
}

.pagination a.active {
  background-color: ghostwhite;
  color: white;
  display: block;
}

.pagination a:hover:not(.active) {
  color: #ddd !important;
  display: block;
}

.panel-seperate {
  padding-top: 20px;
}

.panel {
  padding: 0 18px;
  background-color: #CCC;
  display: none;
  overflow: hidden;
}

.project-link {
  color: #FFFFFF;
}

.project-link:hover {
  text-decoration: none;
  color: #212529;
} 

.project-page {
  border: 5px solid #FFFFFFE6;
  padding: 40px;
  margin: 60px 0;
  background-color: ghostwhite;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 80%;
}

#or {
  font-size: 20px;
}

.rounded {
  width: 350px;
  max-width: 100%;
  height: 200px; 
  margin: 20px;
  box-shadow: 5px 10px 18px #212529;
}

#self-portrait {
  width: 200px; 
  height: auto; 
  border: none;
  float: left; 
  margin: 0 65px 40px 0;
  box-shadow: 5px 10px 18px #212529;
}

#skills-list {
  list-style: none; 
  padding: 40px;
}